

.header {
	text-align: center;
	color:#120B69;

}
 .header p{
	margin:0px;
	text-align: center;

}

.well {
		background-color:#FEF8AB;
}
.header h2{
	font-family: 'Playfair Display SC', serif;
	margin-top:5px;
}

/*side panel*/
.side-panel{
    background-color:#5469B2;
    color:#fff;
    margin:0;
    padding:5px;
}
.side-panel li {
	list-style: none;
}
/* directive*/

/*footer*/
#footer{
	padding-top:16px;
	background-color:#FEF8AB;
	padding-bottom:45px;
	margin-top: 25px;
}
#footer ul{
	list-style: none;
	margin-left:75px;
}

#footer li{
	color:#120B69;
}