

.header {
	text-align: center;
	color:#120B69;

}
 .header p{
	margin:0px;
	text-align: center;

}

.well {
		background-color:#FEF8AB;
}
.header h2{
	font-family: 'Playfair Display SC', serif;
	margin-top:5px;
}

/*side panel*/
.side-panel{
    background-color:#5469B2;
    color:#fff;
    left:0;
    position:fixed;
    height:800px;
}

/* directive*/
img:{
	height:25%;
	width:25%;
}
/*footer*/
#footer{
	padding-top:16px;
	background-color:#FEF8AB;
	padding-bottom:45px;
	margin-top: 25px;
	position:absolute;
}
#footer ul{
	list-style: none;
	margin-left:75px;
}

#footer li{
	color:#120B69;
}